@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131519;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.modal-tab-active::before {
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2d73f3;
}

.modal-scroll::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.credit-scroll::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

.credit-scroll::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}
